*{
    padding: 0px ;
    margin: 0px;
}

a{
    text-emphasis: none;
    color:b rgb(61, 60, 60);
}

body {
    font-family: Arial;
    background-size: 100%;
    background: "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR6L_FIREiUIaqgbaxl6xsKM1zETb1iCkGx-HWVy_XkM5gN0MZo"
    ;
}

ul{
    list-style: none;
}

img{
    
    
}

input[type="checkbox"]
{
    display:none
}
nav{
    background-color: rgba(0, 0, 0, 0.5);
    width: 430px;
    height: 100%;
    left: -430px;
    position: absolute ;
    transition: all .5s ;
}
input[type="checkbox"]:checked ~ nav{

    transform: translateX(430px);
}

ul{

    top:30%;
    position: relative;

}


a{
    display: block;
    padding: 5px 5px;
    color: white;
}

a:hover{
    background-color: rgb(136, 129, 129);
    color: black;
}

label{
    
    padding: 30px;
    position: absolute;
    z-index: 1;
    
}